@media screen {
    #date {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        width: 50%;
    }

    #byline {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        width: 50%;
    }

    #headshot {
        float: left;
        width: 25%;
        border-radius: 10000%;
        font-size: 15px;
        margin: 0px 0px 0px 0px;
    }

    #body {
        font-family: georgia, serif;
    }

    a {
        text-decoration: none;
        color: red;
    }

    a:hover {
        text-decoration: underline;
    }

    #content {
        width: 50%;
        margin: auto;
        font-family: "Playfair Display", serif;
        font-size: 20px;
    }

    .image {
        width: 100%;
        margin: auto;
        text-align: center;
    }

    h1 {
        font-family: "Playfair Display", serif;
        font-size: 50px;
        margin: 70% 0px 10px 0px;
        color: white;
        
    }

    h2 {
        font-family: "Playfair Display", serif;
        font-size: 30px;
        color: white;
    }

    h3 {
        font-size: 10px;
        color: white;
        margin: 0px 0px 0px 87%;
    }

    .pullquote {
        margin: px 0px 0px 0px;
        border-top: 8px solid #e56020;
        border-bottom: 8px solid #e56020;
        width: 100%;
        margin: auto;
    }

    .quote {
        padding-top: 30px;
        font-size: 35px;
        text-align: center;
        width: 100%;
        font-family: georgia, serif;
        line-height: len;
    }

    .name {
        padding-bottom: 30px;
        text-align: center;
        font-size: 15px;
    }

    h4 {
        font-size: 5px;
        color: black;
        margin: 0px 0px 0px 0px;
    }

    #topper {
        background-image: url(Mark%20J.%20Rebilas-USA%20TODAY%20Sports-TITLE.png);
        background-size: cover;
        background-position: 80% 25%;
        padding:0px;
    }
    
    #topper-content {
        background-color: rgba(0,0,0,0.5);
        padding: 0px 20px 0px 20px;
    }

    .caption {
        margin: 0px 0px 0px 0px;
        font-size: 10px;
    }

    .scandal-caption {
        margin: 0px 0px 0px 0px;
        font-size: 15px;
    }

    .disclaimer {
        font-style: italic;
        font-family: sans-serif;
    }
}

@media (min-width:576px) {
    h1 {
        font-size:80px;
    }
    #headshot {
        width: 5%;
    }
}

@media (max-width:576px) {
    h1 {
        font-size:40px;
    }
    #headshot {
        width:30%;
    }
}

