h1 {
    color: #040f16;
    font-family: "Poppins", serif;
}

img {
    width: 100%;
}
button {
    background-color: #b80c09;
    color: #ffffff;
}
button.hover {
    color: #040f16;
}

button {
    font-family: "Poppins", serif;
    font-size: 5px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
    width: 100px;
    padding: 10px;
    margin: 0px;
    text-decoration: none;
    display: inline-block;
    border-radius: 10%;
    border-radius: 50px;
    border: none;
}
